a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

@media screen and (max-width: 800px) {
    .media-image {
        margin: auto  !important;
        width: 100% !important;
    }
   
  }
  
